/* SIDEBAR */
.sidebar {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #f7faff);
    -fx-border-color: transparent #e6edf8 transparent transparent;
    -fx-border-width: 0 1 0 0;
}

.logo-title {
    -fx-text-fill: #07142f;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.logo-subtitle {
    -fx-text-fill: #5f6f89;
    -fx-font-size: 12px;
}

.logo-icon {
    -fx-font-size: 30px;
    -fx-text-fill: #000000;
}

.nav-button,
.nav-active {
    -fx-background-radius: 12;
    -fx-padding: 12 16;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #52627c;
}

.nav-button:hover {
    -fx-background-color: #eef4ff;
    -fx-text-fill: #2563eb;
}

.nav-active {
    -fx-background-color: linear-gradient(to right, #2f6df6, #2563eb);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


/* MAIN LAYOUT */
.main-bg {
    -fx-background-color: #f3f7ff;
}

.scroll-pane-clean,
.scroll-pane-clean > .viewport {
    -fx-background-color: transparent;
}

.page-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #07142f;
}

.top-icon,
.avatar-small {
    -fx-font-size: 20px;
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-background-radius: 50;
    -fx-text-fill: #2563eb;
}
.logout-button {
    -fx-background-color: linear-gradient(to right, #618bf1, #2563eb);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}