.root-bg {
    -fx-background-color: linear-gradient(to bottom right, #eef6ff, #f8fbff);
    -fx-font-family: "Segoe UI";
}

.login-card {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-effect: dropshadow(gaussian, rgba(30, 80, 160, 0.18), 28, 0.2, 0, 10);
    -fx-overflow: hidden;
}

.left-panel {
    -fx-padding: 52 45 45 55;
    -fx-background-color: white;
    -fx-background-radius: 18 0 0 18;
}

.logo-icon {
    -fx-font-size: 30px;
    -fx-text-fill: #2f6df6;
}
.logo-title {
    -fx-font-size: 22px;
    -fx-font-weight: 800;
    -fx-text-fill: #06143d;
}

.logo-subtitle {
    -fx-font-size: 12px;
    -fx-text-fill: #5d6b8a;
}

.title {
    -fx-font-size: 34px;
    -fx-font-weight: 800;
    -fx-text-fill: #07133d;
}

.subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #61708f;
}

.input-box {
    -fx-pref-width: 285px;
    -fx-pref-height: 48px;
    -fx-padding: 0 14;
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-border-color: #d8e1f0;
    -fx-border-radius: 12;
    -fx-border-width: 1.2;
}

.input-icon {
    -fx-font-size: 16px;
    -fx-text-fill: #51617f;
}

.input-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #0f1b3d;
    -fx-prompt-text-fill: #8793ad;
}


.login-btn {
    -fx-background-color: linear-gradient(to right, #2563eb, #1d4ed8);
    -fx-background-radius: 22;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: 700;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(37, 99, 235, 0.32), 14, 0.25, 0, 5);
}

.login-btn:hover {
    -fx-background-color: linear-gradient(to right, #1d4ed8, #1e40af);
}

.right-panel {
    -fx-background-color: #f5f9ff;
    -fx-background-radius: 0 18 18 0;
    -fx-clip: null;
}

.circle-light {
    -fx-fill: #dbeafe;
}

.circle-main {
    -fx-fill: linear-gradient(to bottom right, #93c5fd, #2563eb);
    -fx-opacity: 0.85;
}

.big-watermark {
    -fx-font-size: 110px;
    -fx-opacity: 0.25;
}

.watermark-title {
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-text-fill: white;
    -fx-opacity: 0.55;
}