.root {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #37c3c3 0.0%, #1d2671 100.0%);
}
.login-box{
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-padding: 20;
}
.label {
    -fx-text-fill: #000000;
}

.text-field,
.password-field {
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-text-fill: black;
    -fx-prompt-text-fill: #777777;

    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-border-color: #2196f3;
}

.text-field:focused,
.password-field:focused {
    -fx-border-color: #00e5ff;
}

.button {
    -fx-background-color: #2196f3;
    -fx-text-fill: white;

    -fx-background-radius: 8;
}

.button:hover {
    -fx-background-color: #1976d2;
}